@using MusicDating.Models.ViewModels
@model UserInstrumentVm


@{
    ViewData["Title"] = "Index";
}
<form asp-action="Index" method="get">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="InstrumentId" class="control-label"></label>
        <select asp-for="InstrumentId" class="form-control" asp-items="Model.Instruments">
            <option value="">All</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="GenreId" class="control-label"></label>
        <select asp-for="GenreId" class="form-control" asp-items="Model.Genres">
            <option value="">All</option>
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Filter" class="btn btn-primary" />
    </div>
</form>
<div class="container">
    <div class="row">
        @foreach (var item in Model.ApplicationUsers)
        {
           <div class="card col col-12 col-md-6">
               <div class="card-body">
                   <div class="d-flex justify-content-between">
                       <h5 class="card-title">
                            @item.UserName
                       </h5>
                       <a asp-action="Profile" asp-route-id="@item.Id" class="btn btn-secondary">Show profile</a>
                   </div>
                <div class="card-text">
                @foreach (var userInstrument in item.UserInstruments){
                    <h5>
                        @userInstrument.Instrument.Name
                    </h5>
                    <div>
                        <h6>Level <span class="badge badge-primary">@userInstrument.Level</span></h6>
                    </div>
                    <div>
                        @foreach (var genre in userInstrument.UserInstrumentGenres) {
                            <span class="badge badge-primary">
                                    @genre.Genre.GenreName
                            </span> 
                        } 
                    </div>
                }
                    </div>
               </div>
           </div>
        }
    </div>
</div>