@model IEnumerable<MusicDating.Models.Entities.ApplicationUser>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<MusicDating.Models.Entities.ApplicationUser> SignInManager
@inject UserManager<MusicDating.Models.Entities.ApplicationUser> UserManager

@{
    ViewData["Title"] = "Profile";
}


<section class="profile-background">
    @foreach (var user in Model)
    {
        <div class="border-bottom bg-white w-100 mb-3">
            <p class="main-red oswald">@user.UserName</p>
            <p>Member since: @user.DateCreated.ToString("MMMM yyyy")</p>
            @if (SignInManager.IsSignedIn(User) && @UserManager.GetUserId(User) == @user.Id)
            {
                <a class="btn rounded border-lightgrey shadow-sm m-2 oswald" asp-action="Edit" asp-route-id="@user.Id">Edit
                    Profile</a>
            }
            else
            {
                <a href="#" class="contact-button text-white btn btn-block rounded-x2 mb-3">Contact</a>
            }
        </div>
        <div class="border-top bg-white w-100 mb-3 border-bottom">
            <p class="fw-bold main-blue mt-3">Profile description</p>
            @if (user.Profile.Description == null)
            {
                <p>User Has no profile description</p>
            }
            else
            {
                <p> @user.Profile.Description</p>
            }

        </div>
        <div class="border-top bg-white w-100 mb-3 border-bottom">
            @if (SignInManager.IsSignedIn(User) && @UserManager.GetUserId(User) == @user.Id)
            {
                <div class="inline">
                    <p class="fw-bold main-blue mt-3">Mine instrumenter </p>
                    <a asp-action="AddInstrument" asp-route-id="@user.Id"
                        class="btn rounded border-lightgrey shadow-sm m-2 oswald">Tilføj</a>
                </div>
            }
            else
            {
                <div class="inline">
                    <p class="fw-bold main-blue mt-3">@user.FirstName's instrumenter</p>
                </div>
            }


            @foreach (var instrument in user.UserInstruments)
            {
                <div class="card col col-12 col-md-6">
                    <div class="card-body">
                        <div class="card-text">
                            <h5>@instrument.Instrument.Name</h5>
                            <div>
                                <h6>Level <span class="badge badge-primary">@instrument.Level</span></h6>
                            </div>
                            @foreach (var genre in instrument.UserInstrumentGenres)
                            {
                                <span class="badge badge-primary">
                                    @genre.Genre.GenreName
                                </span>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="border-top bg-white w-100 mb-3 border-bottom">
            <p class="fw-bold main-blue mt-3">@user.UserName's ensembles </p>
            @* Connect ensembles to a user *@
        </div>
    }
</section>